*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5em;
    list-style: none;
    color: #999999;
}
html{
    font-size: 62.5%;
}
.row{
    max-width: 96.0rem;
    margin: 0 auto;
}
/*=========heading============*/

.header_area{
    width: 100%;
    clear: both;
}
#top_header{
    background: #fff;
    padding: 1rem 0;
    width: 100%; 
}
.inner_top_header{
    overflow: hidden;
}
.social_area{
    max-width: 30rem;
    float: left;
}
.social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social_area ul li{
    display: inline-block;
    margin-right: 2rem;
}
.social_area ul li a{
    display: block;
    text-decoration: none;
}
.social_area ul li a:link i{
    color: #fff;
    background: #d2d2d2;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.8rem;
    border-radius: 50%;
    transition: .5s;
}
.social_area ul li a:hover i{
    background: #ee802f;
    transform: rotate(360deg);
}

.main_nav{
    float: right;
}
.main_nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_nav ul li{
    display: inline-block;
    margin-left: 2rem;
    position: relative;
}
.main_nav ul li::after{
    content: "";
    position: absolute;
    background: red;
    width: .1rem;
    height: 2rem;
    display: block;
    right: -1rem;
    top: 0rem;
}
.main_nav ul li:last-child::after{
    display: none;
}
.main_nav ul li a{
    color: #97455f;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}
/*=========================
        Main Header
-===========================*/

/*=======sticky============*/
.sticky{
	position: fixed;
	color: red;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}
.sticky_logo{
    display: none;
	margin: 1rem 0 0 3rem;
	float: left;
	z-index: 99999;
}
/*==================mobile Menu=======*/
.mobile_menu span{
	color: #fff;
	float: right;
	font-size: 3rem;
	padding: 2rem;
	cursor: pointer;
	display: none;
}
.overlay{
	width: 0%;
	height: 100%;
	position: fixed;
	background: red;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow-x: hidden;
}
.overlay_content{
	position: relative;
	top: 15%;
	width: 100%;
	text-align: center;
}
.overlay_content a{
	color: #fff;
	font-size: 3rem;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 1.5;
	letter-spacing: .3rem;
}
.overlay_content a:hover{
	color: blue;
}
.overlay .closebtn{
	position: absolute;
	color: #fff;
	right: 2rem;
	top: 2rem;
	font-size: 4rem;
	text-decoration: none;
	font-weight:bold;
}


#main_header{
    width: 100%;
    clear: both;
    
}
.inner_header{
    background: #ebebeb;
    overflow: hidden;
    padding: 4rem ;
    border-top: .1rem solid red;
}
.logo_area{
    float: left;
    width: 60%;
}
.search_area{
    float: right;
    width: 40%
}
.search_area form{
    float: right;
    background: #fff;
    max-width: 30rem;
    width: 96%;
    border-radius: .5rem;
}
.search_area form input[type="text"]{
    border: 0;
    padding: 1rem;
    width: 60%;
    float: left;
    border-radius: 5rem;
    border-top-left-radius: 5rem;
}
.search_area form input[type="submit"]{
    border: 0;
    color: #fff;
    font-size: 1.7rem;
    width: 30%;
    background: red;
    float: right;
    padding: 1rem;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}


/*=========================
        Main MENU
-===========================*/
#main_menu{
    width: 100%;
    clear: both;
}
.inner_menu{
    background: #de4c4c;
    border-radius: .5rem;
    text-align: center;
}
.inner_menu ul{
    list-style: none;
}
.inner_menu ul li{
    display: inline-block;
    margin: .5rem;
    width: 11rem;
    padding: 1rem;
}
.inner_menu ul li a{
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
}
.active, .inner_menu ul li:hover{
    background: #6a3144;
    border-radius: .3rem;
}
.inner_menu .fa{
    margin-right: 1rem;
}
/*=========================
        DROPWON MENU
-===========================*/
.sub_menu_1{
    display: none;
    z-index: 9999;
}
.inner_menu ul li:hover .sub_menu_1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 1rem;
    margin-left: -1rem;
}
.inner_menu ul li:hover .sub_menu_1 ul li{
    display: block;
    margin: 1rem;
}
.inner_menu ul li:hover .sub_menu_1 ul li{
    width: 15rem;
    padding: 1rem;
    border-bottom: .1rem dotted #fff;
    background: transparent
    border-radius: 0;
    text-align: left;
}

.inner_menu ul li:hover .sub_menu_1 ul li:last-child{
    border-bottom: none;
}
.fa-angle-right{
    float: right;
    color: #fff;
    font-size: 2rem;
}
.sub_menu_2{
    display: none;
}
.hover_me:hover .sub_menu_2{
    position: absolute;
    display: block;
    margin-top: -4rem;
    margin-left: 14rem;
    background: rgb(0,100,1);
}
/*=========================
		slider area
-===========================*/
#slider_section{
    padding: 0;
    margin: 0;
    width: 100%;
}
.items{
    position: relative;
	width: 100%;
}
.slider_caption{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80%;
    left: 70%;
    transform: translate(-65%, -60%);
    background: #fff;
    color: #666666;
    padding: 5%;
    width: 65%;
}
.slider_caption h1{
    font-size: 2rem;
    text-transform: uppercase;
    background: #fff;
}
.slider_caption p{
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 1.5;
}
/*===============slider P=======*/
.separator h2{
    text-align: center;
}
.separator{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}
.separator::before,
.separator::after{
    content: "";
    flex: 1;
    border-bottom: .5rem solid #666666;
}
.separator:not(:empty)::before{ margin-right: .25em}
.separator:not(:empty)::after{ margin-left: .25em}

/*=========================
      Hero Area
-===========================*/
.hero_area{
    width: 100%;
    clear: both;
}
.inner_hero{
    padding: 4rem 0 2rem ;
}
.hero{
    margin-bottom: 2rem;
    display: inline-flex;
}
.hero_image{
    width: 7rem;
    float: lef;
}
.hero_image img{
    width: 6rem;
    float: left;
    margin-right: 1rem;
}
.hero_text h1{
    color: #97455f;
    font-size: 1.6rem;
}
.hero_text p{
    color: #666;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.separator1{
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    float: left;
}
.separator1::before,
.separator1::after{
    content: "";
    flex: 1;
    border: .2rem solid #666;
}
.separator1:not(:empty)::before,
.separator1:not(:empty)::after{
    margin: 1rem;
}

.separator2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
}
.separator2::before,
.separator2::after{
    content: "";
    flex: 1;
    border: .2rem solid #666;
}
.separator2:not(:empty)::before,
.separator2:not(:empty)::after{
    margin: 1rem;
}
/*=========================
      work Area
-===========================*/
#work_section{
    width: 100%
}
.inner_work{
    padding: 2rem 0;
}
.work_image{
    width: 15rem;
}
.work_image img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    float: left;
    margin-right: 1rem;
}

.work_text h3{
    font-size: 1.6rem;
    color: #666;
    font-weight: normal;
}
.work_text h3 span{
    font-weight: bold;
}
.comment{
    background: url(img/comment.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding: 1rem 0rem 0rem 6rem;
}
.work_text p{
    font-size: 1.4rem;
    color: #666;
    line-height: 1.5;
    margin-top: 1rem;
}
.work_text a{
    font-size: 1.3rem;
    color: #97455f;
    text-decoration: none;
    line-height: 2;
}
.containerh2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.containerh2 div{
    padding: 1rem;
}
.container div{
    padding: 0rem;
}
.work_comment{
    background: #97455f;
    color: #fff;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.work_comment h1{
    font-size: 3.6rem;
    line-height: 1;
}
.work_comment p{
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 1rem;
}
.comon{
    background: #97455f;
    color: #fff;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.comon h2{
    background: #fff;
    color: #97455f;
    font-size: 2.6rem;
    line-height: 1;
    padding: 2rem;
    border-radius: .5rem;
}
/*=========================
      contact Area
-===========================*/
#contact_section{
    width: 100%;
    background: #ebebeb;
    margin-top: 2rem;
}
.inner_contact{
    padding: 4rem 0;
    border-top: 1rem solid #d2d2d2;
	overflow: hidden;
}
.inner_contact h1{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.inner_contact h2{
    font-size: 1.6rem;
    color:#97455f;
}
.inner_contact h3{
    font-size: 1.4rem;
}
.house{
    margin-top: 2rem;
}
.inner_contact h4{
    font-size: 1.3rem;
    margin-top: 2rem;
}
.inner_contact h5{
    font-size: 1.3rem;
}
.inner_contact h6{
    font-size: 1.3rem;
}
.inner_contact a{
    color: #97455f;
    text-decoration: none;
}
.inner_contact p{
	font-size: 1.3rem;
	margin-top:  2rem
}

.inner_contact .contact_text{
	width: 100%;
}
.contact1 .contact_image{
	float: left; 
	
}
.contact2 .contact_image{
	float: left;
	clear: left;
}
.contact_image img{
	width: 10rem;
	height: 10rem;
	border: .1rem solid #999999;
	padding: .5rem;
	margin-right: 2rem;
}

/*=======contact form==========*/
.contact_form{
	width: 100%;
}
.contact_form input,
.contact_form textarea{
	border: 0;
	padding: 1rem 2%;
	margin: .5rem 0;
	border-radius: .5rem;
	width: 90%;
}
.contact_form textarea{
	height: 10rem;
}
.contact_form input[type="submit"]{
	background: #97455f;
	margin: 0;
	width: 8rem;
	color: #fff;
	font-size: 1.5rem;
	margin-top: rem;
}
/*=========================
      copyright Area
-===========================*/
.copyright_area{background: #ebebeb;
	border-top: .1rem solid #999999;
}

.inner_copyright{	
	padding: 2rem 0;
}
.left_copyright{
	font-size: 1.3rem;
	float: left;
}
.right_copyright{
	font-size: 1.3rem;
	float: right;
	text-align: right;
}












